go 1.24.7

use (
	./pkg/activity
	./pkg/awserrors
	./pkg/health
	./services/admin-console
	./services/cloudfauxnt
	./services/drawbridge
	./services/ess-queue-ess
	./services/ess-enn-ess
	./services/essthree
	./services/kay-vee
)
